!!! 5
html
  head
    title Nipster! npm search tool for Node.js
    meta(name='description', content='npm search tool for node (Node.js)')
    meta(name='author', content='Eirik Brandtzæg, eirikb@eirikb.no')
    meta(charset='utf-8')

    link(rel='stylesheet', href='css/style.css')

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/datatables/1.9.4/jquery.dataTables.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/history.js/1.7.1/native.history.js')
    script(src='js/main.js')
    script
      var _gaq=_gaq || [];
      _gaq.push(['_setAccount','UA-28988150-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    body
      a(href='http://github.com/eirikb/nipster')
        img.fork(src='http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')
      .wrapper
        .content
          .npm
            img(src='img/npm.png')
            span.plus +
            img(src='img/github.png')
            span.plus =
            span.big Perfect rating!
          table.display
            thead
              th.small name
              th description
              th.small author
              th.small modified
              th.tiny forks
              th.tiny stargazers
              th.tiny stars
              th.tiny npm
